.meus-filmes{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    padding: 0;
}

ul li{
    padding: 0;
    list-style: none;
    min-width: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}

<span{
    font-size: 1.3rem;
}

button{
    margin-bottom: 0.8rem;
}

ul li div a{
    text-decoration: none;
    color: brown;
}